.input-nopadding{
   padding:5px;
}

.form-margin{
   margin-bottom:5px;
}

.form-nomargin{
   margin-bottom:0px;
}

.col-padding{
   padding-left:5px;
   padding-right:5px;
}

.input-align{
   text-align:right;
}

.slider-padding{
   padding-top:10px;
}

.panel-padding{
  padding-top:5px;
  padding-bottom:1px;
}

.environment-padding{
 padding-top:1px;
  padding-bottom:1px;
}

.h4padding{
   margin-top:4px;
   margin-bottom:1px;
}
.align-right{
   text-align:right;
}
.teampanelheading{
   padding-top:0px;
   padding-bottom:0px;
}
.teampanel{
      margin-bottom:1px;
}
.checkpadding{
   margin-left:5px;
}
.triangle {
    position: relative;
}
.triangle:after { 
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0; 
    height: 0; 
    display: block;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-top: 20px solid #DDD;
}
.e-check{
   display:block;
   height:24px;
}
.enviropanel {
   margin-top:5px;
}
.popover.top {
   margin-top: -10px;
   pointer-events: none;
}
.em-right{
   position:absolute;
   right:15px;
}
.bold{
   font-weight:bold;
}
